.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $nourivre-5-hex;
    color: $header-font-color;
    border-bottom: 4px solid $nourivre-1-hex;
}

.site-header {
    display: flex;
    align-items: center;
}

.site-header a {
    font-weight: bold;
    text-decoration: none;
    color: $header-font-color;
}

.nav {
    a {
        font-weight: bold;
        font-size: 1.7rem;
        text-decoration: none;
        padding: 0 1rem;
        color: $header-font-color;
    }

    a:hover {
        border-bottom: 4px solid $nourivre-1-hex;
    }

    .active a {
        border-bottom: 4px solid $nourivre-3-hex;
    }
}


.title * {
    color: $header-font-color;
    margin: 0 2rem;
}
