table {
    max-width: 100%;
    width: 100%;
    font-size: $base-font-size;
    border-collapse: collapse;

    tbody tr:nth-child(2n + 1) {
        background-color: #eee;
    }

    th {
        text-align: left;
    }

    td {
        border-top: 1px solid #ccc;
    }

    th,
    td {
        padding: 0.8rem 1.2rem;
    }
}
