$base-line-height: 1.4;
$base-font-size: 1.4rem;
$vertical-rhythm: $base-line-height * $base-font-size;

$nourivre-1-hex: #202124;
$nourivre-2-hex: #0f0;
$nourivre-3-hex: #fff;
$nourivre-4-hex: #202124;
$nourivre-5-hex: #202124;

/* Color Theme Swatches in RGBA */
$nourivre-1-rgba: rgba(32, 33, 36, 1);
$nourivre-2-rgba: rgba(38, 37, 33, 1);
$nourivre-3-rgba: rgba(63, 59, 54, 1);
$nourivre-4-rgba: rgba(32, 33, 36, 1);
$nourivre-5-rgba: rgba(32, 33, 36, 1);

$gradient: linear-gradient(120deg, $nourivre-1-rgba, $nourivre-4-rgba, $nourivre-5-rgba);

$font-color: #0f0;
$header-font-color: #0f0;
$font-alternative-color: #000;

$header-font: 'IBM Plex Mono', monospace;
$paragraph-font: 'IBM Plex Mono', monospace;
